@font-face {
	font-family: 'Raleway';
	src: url(../fonts/'Raleway-Regular.eot');
	src: local(../fonts/'Raleway'), local(../fonts/'Raleway-Regular'),
		url(../fonts/'Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url(../fonts/'Raleway-Regular.woff') format('woff'),
		url(../fonts/'Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url(../fonts/'Raleway-Italic.eot');
	src: local(../fonts/'Raleway Italic'), local(../fonts/'Raleway-Italic'),
		url(../fonts/'Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url(../fonts/'Raleway-Italic.woff') format('woff'),
		url(../fonts/'Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}