@charset "UTF-8";

body {
  margin: 0;
  background-color: #f3f3f3;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #0d3351;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 15px 50px;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #33c7fd;
  border-radius: 2px;
  border: 1px solid #33c7fd;
}

.page-header {
  background: #fff url("../img/header/header-bg.jpg") center no-repeat;
  background-size: cover;
}

.page-header__logo {
  margin-top: 20px;
  text-align: center;
}

.page-header__button {
  position: relative;
  text-align: center;
  padding-bottom: 180px;
}

.page-header__button > img {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 270px;
  margin-left: -75px;
  margin-bottom: -90px;
}

.page-header__title {
  text-align: center;
}

.page-header__title h1 {
  margin-top: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #0d3351;
  text-transform: uppercase;
}

.title--small {
  margin-top: 0;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 64px;
  padding-top: 10px;
}

.main-nav__list {
  position: absolute;
  top: 55px;
}

.main-menu__list {
  list-style: none;
  padding: 60px 120px 60px 50px;
  background-color: #0d3351;
  transition: all 0.5s;
  left: -200vw;
  z-index: 1;
}

.main-menu--active {
  left: 0;
}

.main-menu__item {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0.05em;
}

.main-menu__item a {
  color: rgba(255, 255, 255, 0.8);
}

.main-menu__item a:hover {
  color: #fff;
}

.main-menu__link {
  display: block;
  padding: auto 0;
  height: 16px;
}

.main-menu__link img {
  width: 22px;
}

.user-menu {
  position: relative;
  display: flex;
  list-style: none;
  align-items: center;
}

.user-menu__wrapper {
  display: flex;
}

.user-menu__item {
  margin-right: 30px;
}

.user-menu--login {
  position: relative;
}

.user-menu--login p {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.user-menu--login p::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  top: 15px;
  left: 2px;
  background: url("../img/icons/user.png") 0 0 no-repeat;
}

.user-menu--login p::after {
  border: medium solid transparent;
  content: '';
  top: 20px;
  right: 5px;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #0d3351 transparent transparent;
  border-width: 4px;
  margin-left: -4px;
}

.user-menu--currency {
  position: relative;
}

.user-menu--currency p {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.user-menu--currency p::before {
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  top: 15px;
  left: 2px;
  background: url("../img/icons/rub.png") 0 0 no-repeat;
}

.user-menu--currency p::after {
  border: medium solid transparent;
  content: '';
  top: 20px;
  right: 5px;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #0d3351 transparent transparent;
  border-width: 4px;
  margin-left: -4px;
}

.user-menu--language {
  position: relative;
  cursor: pointer;
}

.user-menu--language p {
  padding-right: 20px;
}

.user-menu--language p::after {
  border: medium solid transparent;
  content: '';
  top: 20px;
  right: 5px;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #0d3351 transparent transparent;
  border-width: 4px;
  margin-left: -4px;
}

.catalog__title {
  text-align: center;
  padding-top: 110px;
  margin-bottom: 30px;
}

.catalog__title h2 {
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 48px;
  letter-spacing: 0.05em;
}

.catalog__title p {
  display: inline-block;
  position: relative;
  margin-top: 5px;
  font-size: 14px;
}

.catalog__sort-toggle {
  cursor: pointer;
  padding-right: 10px;
}

.catalog__sort-toggle::after {
  border: medium solid transparent;
  content: '';
  top: 7px;
  right: -5px;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #0d3351 transparent transparent;
  border-width: 4px;
  margin-left: -4px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 10px;
}

.catalog__item {
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  width: 555px;
}

.catalog__item-img {
  position: relative;
  overflow: hidden;
  height: 215px;
}

.catalog__item-img img {
  width: 100%;
  position: absolute;
}

.catalog__item--hit .catalog__item-img {
  position: relative;
  overflow: hidden;
  height: 438px;
}

.catalog__item--hit .catalog__item-img img {
  width: 100%;
  position: absolute;
}

.catalog__item--action .catalog__item-img,
.catalog__item--discount .catalog__item-img {
  position: relative;
  overflow: hidden;
  height: 113px;
}

.catalog__item--action .catalog__item-img img,
.catalog__item--discount .catalog__item-img img {
  width: 100%;
  position: absolute;
  top: -150px;
}

.catalog__item-content {
  margin-left: 35px;
}

.catalog__item-content p {
  margin: 0;
}

.catalog__item-title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.catalog__item-title a {
  position: relative;
  display: inline-block;
  color: #00a2dd;
  padding-right: 20px;
}

.catalog__item-title a span {
  position: relative;
}

.catalog__item-title a span::after {
  border: medium solid transparent;
  content: '';
  bottom: 7px;
  right: -16px;
  position: absolute;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #00a2dd;
  border-width: 4px;
  margin-left: -4px;
}

.catalog__item-price {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
}

.catalog__item-price--crossed {
  margin-left: 20px;
  font-size: 18px;
  text-decoration: line-through;
  opacity: 0.55;
}

.catalog__item--hit::after {
  position: absolute;
  content: 'Хит продаж';
  text-align: center;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  width: 89px;
  height: 101px;
  top: -7px;
  right: 8%;
  background: url("../img/catalog/tag-hit.png") 0 0 no-repeat;
}

.catalog__item--action::after {
  position: absolute;
  content: 'Акция';
  text-align: center;
  padding-top: 30px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  width: 89px;
  height: 101px;
  top: -7px;
  right: 8%;
  background: url("../img/catalog/tag-action.png") 0 0 no-repeat;
}

.catalog__item--discount::after {
  position: absolute;
  content: 'Скидка 10%';
  text-align: center;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  width: 89px;
  height: 101px;
  top: -7px;
  right: 8%;
  background: url("../img/catalog/tag-discount.png") 0 0 no-repeat;
}

.catalog__button {
  text-align: center;
  margin-bottom: 60px;
}

.catalog__button a {
  position: relative;
  display: inline-block;
}

.catalog__button a span {
  border: medium solid transparent;
  content: '';
  top: 25px;
  right: 26px;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #fff transparent transparent;
  border-width: 5px;
  margin-left: -5px;
}

.page-footer {
  background-color: #fff;
}

.footer {
  font-weight: 600;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.footer-nav__list {
  padding-left: 0px;
  list-style: none;
}

.footer-nav__item a {
  color: #0d3351;
  font-weight: 600;
}

.footer-contacts > p {
  font-weight: 600;
}

.footer-contacts p {
  margin: 0;
}

.footer-social p {
  text-align: center;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 170px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0d3351;
}

.social-button svg {
  height: 13px;
  width: 13px;
  fill: #fff;
}

.modal {
  position: fixed;
  top: 2%;
  left: 50%;
  width: 750px;
  padding: 80px 50px 80px;
  margin-left: -375px;
  background-color: #fff;
  z-index: 5;
}

.modal-close {
  position: absolute;
  top: 25px;
  right: 35px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: rgba(13, 51, 81, 0.5);
  border: 0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #0d3351;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.card__wrapper {
  display: flex;
  position: relative;
}

.card__item-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #00a2dd;
}

.card__sliders {
  width: 48%;
}

.card-content {
  margin-left: 20px;
}

.card-content p {
  margin: 0;
}

.slider-nav {
  margin-top: 8px;
}

.slider-nav img {
  margin-right: 8px;
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }

  .page-header__logo {
    margin-top: 70px;
  }

  .page-header__title h1 {
    font-size: 72px;
  }

  .page-header__button > img {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 220px;
    margin-left: -70px;
    margin-bottom: -40px;
  }

  .title--small {
    font-size: 26px;
  }

  .catalog__title {
    padding-top: 30px;
  }

  .catalog__title h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .catalog__title p {
    margin-bottom: 0;
  }

  .catalog__item {
    width: 345px;
  }

  .catalog__item-img {
    width: 100%;
    height: 230px;
  }

  .catalog__item-content {
    width: 300px;
    margin-left: 30px;
  }

  .catalog__item-title {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 22px;
  }

  .catalog__item--hit .catalog__item-img {
    height: 280px;
  }

  .catalog__item--action .catalog__item-img,
  .catalog__item--discount .catalog__item-img {
    height: 96px;
  }

  .catalog__item--action .catalog__item-img img,
  .catalog__item--discount .catalog__item-img img {
    top: 0;
  }

  .modal {
    width: 625px;
    margin-left: -45vw;
    padding: 60px 40px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 290px;
  }

  .page-header__logo {
    margin-top: -30px;
  }

  .page-header__title h1 {
    font-size: 50px;
    line-height: 48px;
  }

  .page-header__button {
    padding-bottom: 200px;
  }

  .title--small {
    font-size: 20px;
    margin-bottom: 0;
  }

  .user-menu__wrapper {
    display: none;
  }

  .main-nav {
    height: 44px;
    padding-top: 0;
  }

  .main-nav__list {
    position: absolute;
    top: 25px;
  }

  .main-menu__list {
    width: 230px;
    padding: 40px 20px 40px 40px;
  }

  .main-menu__item {
    font-size: 14px;
  }

  .catalog__title {
    padding-top: 30px;
  }

  .catalog__title h2 {
    font-size: 20px;
    line-height: 34px;
  }

  .catalog__title p {
    margin-bottom: 0;
  }

  .catalog__button {
    margin-bottom: 30px;
  }

  .catalog__list {
    padding-left: 0;
  }

  .catalog__item {
    width: 290px;
  }

  .catalog__item-img {
    width: 100%;
    height: 230px;
  }

  .catalog__item-content {
    width: 260px;
    margin-left: 20px;
  }

  .catalog__item-title {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 22px;
  }

  .catalog__item-price--crossed {
    margin-left: 0;
  }

  .catalog__item--hit .catalog__item-img,
  .catalog__item--action .catalog__item-img,
  .catalog__item--discount .catalog__item-img {
    width: 100%;
    height: 230px;
  }

  .catalog__item--hit .catalog__item-img img,
  .catalog__item--action .catalog__item-img img,
  .catalog__item--discount .catalog__item-img img {
    top: 0;
  }

  .footer-nav {
    display: none;
  }

  .footer__wrapper {
    display: block;
    text-align: center;
    padding-top: 5px;
  }

  .footer-social__list {
    width: 100%;
    padding-left: 0;
  }

  .footer-social p {
    font-weight: 600;
  }

  .modal {
    top: 0;
    width: 290px;
    margin-left: -165px;
    padding: 40px 20px;
  }

  .card__wrapper {
    flex-direction: column;
  }

  .card-content {
    width: 260px;
  }

  .card-content--descr {
    display: none;
  }

  .card__sliders {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .card__item-title {
    margin-bottom: 10px;
  }

  .card__button {
    text-align: center;
  }

  .slider-nav {
    display: none;
  }
}